.contactsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contactCard {
  width: 350px;
  font-size: 25px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 500;
}

.contactsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.contactsActions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contactsList {
    gap: 30px;
  }

  .contactCard {
    width: 200px;
  }

  .contactsInfo {
    font-size: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .contactsList {
    gap: 20px;
  }

  .contactCard {
    width: 220px;
  }
}
